/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}


body {
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,1) 100%), url(img/closeup-engravings-walls-luxor-temple-egypt.jpg);
    color: lightgrey;
    font-family: palatino;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body h1
{
    font-family: PrinceValiant, palatino;
}

.box-dark {
    background-color: #0009;
}

.minus, .plus  
{
    color: #ddd !important;
    font-weight: bolder;
    font-family: sans-serif;
}

.btn.minus, .btn.plus  
{
    width: 30px;
}
    
.minus 
{
    background: #f005;
    border: #f00a;
}

.plus 
{    
    background: #6f05;
    border: #6f0a;
}

.titolo.mr-30 {
    margin-right: 30px;
}
.titolo.ml-30 {
    margin-left: 30px;
}


svg.bi.bi-hourglass-top, svg.bi.bi-hourglass-bottom {
    border: 1px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 5px;
}

svg.bi.bi-hourglass-top {
    color: green;
}

svg.bi.bi-hourglass-bottom {
    color: red;
}

svg.bi.bi-wrench {
    border: 1px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 4px;
}

.item-value {
    border: 1px solid;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
}


.box-status {
    margin: 2% 10%;
}


body div#main
{
    text-align: center;
}

body div#main h1 {
    font-size: 2rem;
    margin: 20px 10px;
}

.box-status {
    display: flex;
    border: 2px solid lightgray;
}

.box-status>div {
    width: 50%;
    border: 1px dotted lightgray;
    margin: 5px;
    padding: 5px;
}

.list-item.list-oggetto {
    text-align: left;
}

.titolo {
    padding: 0px 10px;    
    font-size: larger;
    font-weight: bolder;
}

.label-editing {
    display: flex;
    justify-content: center;
}

.box-scala {
    display: flex;
    justify-content: space-around;
}

.box-scala-label {
    padding: 0px 4px;    
}

.box-scala>div {
    width: 100%;
}

.box-scala>div>div {
    border: solid 1px grey;
    white-space: break-spaces;
}

.box-testuale {
    margin-top: 5%;
    border: 2px double lightgrey;
}

.box-testuale>div {
    margin-top: 1%;
    border: 1px dotted lightgrey;
    margin: 5px;
    padding: 5px;
}

/*
footer.footer.mt-auto.py-3 {
    background-color: #1119;
}
*/

.modal-content {
    background-color: #444;
}

.modal-content a {
    color: #fff;
}

.close {
    color: #ddd;
}

.close:hover {
    color: #fff;
    text-decoration: none;
}

.pre-formatted {
  white-space: pre;
}